_history/2008/_favourites-list.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://ulric-wilfred.name" elementFormDefault="qualified" targetNamespace="http://ulric-wilfred.name" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="favourites" type="FavouritesList" />
  <xs:complexType name="FavouritesList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="favourites-group">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="class" type="favouritesClassName" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="favouritesClassName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="movies" />
      <xs:enumeration value="games" />
      <xs:enumeration value="books" />
      <xs:enumeration value="tv-shows" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>