_history/2009-autumn/favourites.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://ulric-wilfred.name" elementFormDefault="qualified" targetNamespace="http://ulric-wilfred.name" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="favourites" type="FavouritesList" />
  <xs:complexType name="FavouritesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="music">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="music-artist">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lastfm-id" type="xs:string" use="optional" />
                    <xs:attribute name="wikipedia-id" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="movies">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="movie">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="imdb-id" type="xs:string" use="optional" />
                    <xs:attribute name="wikipedia-id" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="games">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="game">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="ag-id" type="xs:string" use="optional" />
                    <xs:attribute name="gamespot-id" type="xs:string" use="optional" />
                    <xs:attribute name="wikipedia-id" type="xs:string" use="optional" />
                    <xs:attribute name="mobygames-id" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="series-list">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="series">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="imdb-id" type="xs:string" use="optional" />
                    <xs:attribute name="wikipedia-id" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="books">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="book">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="author">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="wikipedia-id" type="xs:string" use="optional" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="name" type="xs:string" />
                </xs:sequence>
                <xs:attribute name="wikipedia-id" type="xs:string" use="optional" />
                <xs:attribute name="no-link" type="xs:boolean" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>